* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span, blockquote, li, small {
  color: $dark;
  font-family: 'Quicksand', sans-serif;
}

.text {
  &-primary {
    color: $primary !important;
  }
}

.bg {
  &-primary {
    background-color: $primary !important;
  }
}

.btn {
  font-family: 'Quicksand', sans-serif;

  &-primary {
    background-color: $primary !important;
    border-color: $primary_dark !important;

    &:hover {
      background-color: $primary_dark !important;
    }
  }
}

.label {
  &-box {
    background-color: $primary;
    border-radius: 4px;
    color: $white;
    height: 1.875rem;
    width: 2.81rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.divider {
  padding: 1.3rem 0;
  &.bg-primary {
    h1, p {
      color: $white;
    }

    h1 {
      @include breakpoint-down(medium) {
        font-size: 1.4rem;
      }
    }
    span {
      background-color: $white;
    }
  }
  .container {
    display: flex;
    align-items: center;

    @include breakpoint-down(medium) {
      justify-content: center;
    }

    @include breakpoint-down(small) {
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  h1, p {
    margin: 0;
  }
  span {
    display: block;
    width: 5px;
    margin: 0 .7rem;
    height: 30px;
    background-color: $dark;
    border-radius: 3px;
    @include breakpoint-down(small) {
      display: none;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    top: -.1rem;
    @include breakpoint-down(small) {
      position: static;
      line-height: 35px;
    }
  }
}

.is {
  &-d {
    &-sm {
      &-none {
        @include breakpoint-down(medium) {
          display: none;
        }
      }
    }
  }
}

.post {
  &__card {
    display: flex;

    @include breakpoint-down(medium) {
      display: block;
    }

    &-body {
      flex: 1;
      margin-left: 1.3rem;
      @include breakpoint-down(medium) {
        margin: 0;
      }

      h2 {
        font-weight: 600;
        margin: 0;
        margin-bottom: .5rem;
      }

      span {
        font-size: .9rem;
      }

      p {
        font-weight: 500;
        text-align: justify;
        margin-top: .5rem;
        line-height: 30px;
      }
    }
    &-cover {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 270px;
      width: 320px;
      background-color: $light;
      border-radius: 4px;

      p {
        font-size: 1.3rem;
        font-weight: 500;
      }

      @include breakpoint-down(medium) {
        width: 100%;
        margin-bottom: .9rem;
      }

    }
  }

}