* {

  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span, blockquote, li, small, label, fieldset, legend, input, textarea {
  color: $dark;
  font-family: 'Quicksand', sans-serif;
}

.text {
  &-primary {
    color: $primary !important;
  }
}

.bg {
  &-primary {
    background-color: $primary !important;
  }
}

.btn {
  font-family: 'Quicksand', sans-serif;

  &-primary {
    background-color: $primary !important;
    border-color: $primary_dark !important;

    &:hover {
      background-color: $primary_dark !important;
    }
  }
}

.label {
  &-box {
    background-color: $primary;
    border-radius: 4px;
    color: $white;
    height: 1.875rem;
    width: 2.81rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.divider {
  padding: 1.3rem 0;
  &.bg-primary {
    h1, p {
      color: $white;
    }

    h1 {
      @include breakpoint-down(medium) {
        font-size: 1.4rem;
      }
    }
    span {
      background-color: $white;
    }
  }
  .container {
    display: flex;
    align-items: center;

    @include breakpoint-down(medium) {
      justify-content: center;
    }

    @include breakpoint-down(small) {
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  h1, p {
    margin: 0;
  }
  span {
    display: block;
    width: 5px;
    margin: 0 .7rem;
    height: 30px;
    background-color: $dark;
    border-radius: 3px;
    @include breakpoint-down(small) {
      display: none;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    top: -.1rem;
    @include breakpoint-down(small) {
      position: static;
      line-height: 35px;
    }
  }
}

.is {
  &-d {
    &-sm {
      &-none {
        @include breakpoint-down(medium) {
          display: none;
        }
      }
    }
  }
}

.post {
  &__card {
    display: flex;
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint-down(medium) {
      display: block;
    }

    &-body {
      flex: 1;
      margin-left: 1.3rem;
      @include breakpoint-down(medium) {
        margin: 0;
      }

      h2 {
        font-weight: 600;
        margin: 0;
        font-size: 1.6rem;
        margin-bottom: .5rem;
      }

      span {
        font-size: .9rem;
      }

      p {
        font-weight: 500;
        text-align: justify;
        margin-top: .5rem;
        line-height: 27px;
      }
    }
    &-cover {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 270px;
      width: 320px;
      background-color: $light;
      border-radius: 4px;

      p {
        font-size: 1.3rem;
        font-weight: 500;
      }

      @include breakpoint-down(medium) {
        width: 100%;
        margin-bottom: .9rem;
      }

    }
  }

}

.badges {
  display: flex;

  .badge {
    margin-right: .6rem;
    padding: .5rem .7rem;
    font-size: .9rem;
    font-weight: 400;
    background-color: $white;
    border: 1px solid #ced4da;
    color: $dark;

    &:hover {
      background-color: $light;
    }

    &:last-child {
      margin-right: 0rem;
    }
  }
}

.product {
  &-card {
    border: 1px solid #ced4da;
    border-radius: 6px;
    transition: all 200ms ease;
    &:hover {
      background-color: #eee;
      cursor: pointer;
      transform: scale(1.05);
    }

    &__header {
      background-color: $light;
      height: 11rem;

      @include breakpoint-down(medium) {
        height: 12rem;
      }
      @include breakpoint-down(small) {
        height: 22rem;
      }

    }
    &__body {
      padding: .7rem;
      @include breakpoint-down(small) {
       padding: 1rem 1.5rem;
      }
      &-title {
        font-size: .95rem;
        line-height: 21px;
        margin: 0;
        margin-bottom: .4rem;

        @include breakpoint-down(small) {
          font-size: 1rem;
          margin-bottom: .6rem;
          line-height: 26px;
          font-weight: 500;
        }
      }
      &-published {
        font-size: .8rem;
        line-height: 19px;
        display: block;
        @include breakpoint-down(small) {
          font-size: .98rem;
          line-height: 25px;
        }
      }

      &-price {
        margin-top: .6rem;
        @include breakpoint-down(small) {
          margin-top: 1rem;
        }
        span {
          font-size: .8rem;

          @include breakpoint-down(small) {
            font-size: .98rem;
          }
        }
        p {
          font-weight: 700;
          margin: 0;
          color: $primary;
          @include breakpoint-down(small) {
            font-size: 1.1rem;
            margin-top: .4rem;
          }
        }
      }
    }
  }

  &-detail {

    &__placeholder {
      border: 1px solid #ced4da;
      border-radius: 5px;
      height: 500px;
      position: sticky;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: 0px;

      img {
        width: 100px;
        margin-bottom: .8rem;
      }
      h1 {
        font-size: 1.5rem;
        font-weight: 700;
        color: $gray;
        margin: 0;
        margin-bottom: .3rem;
      }
      p {
        font-size: .90rem;
        color: $gray;
        margin: 0;
      }
    }
  }
}

.router-link-exact-active {
  color: $primary !important;
}

/**
Search input global css
TODO: untuk sementara ini di global csss.
*/

.filter {
  &__categories {
    position: relative;
    border: 1px solid $light;
    border-bottom-width: 0;
    border-top-width: 0;
    
    &:hover {
      background-color: $light;
    }
    .dropdown {
      &:hover {
        background: none !important;
      }

      &-menu {
        width: 13.75rem !important;
        left: -100px !important;
        top: .625rem !important;
        box-shadow: 0 3px 8px rgba($color: #000000, $alpha: 0.2);

        li {
          border-bottom: 1px solid $light;

          &:last-child {
            border-bottom-width: 0;
          }
        }
      }
      button {
        padding: 0;
        color: $dark !important;
        background: none !important;
        border: none;
    
        &::after {
          margin-left: 1.5rem;
          position: relative;
          top: .1rem;
        }
      }
    }
  }

}