header {
  .header__social-contact {
    background-color: $primary;

    .container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: .5rem 0;

      p {
        color: $white;
        margin: 0;
        font-size: .9rem;
      }

      ul {
        list-style: none;
        align-items: center;
        display: flex;
        margin: 0;

        li {
          margin-left: .4rem;

          &:first-child {
            margin-left: 1rem;
          }

          > a {
            background-color: $white;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

          }
          > svg {
            font-size: 1rem;
          }
        }
      }
    }
  }
}