header {

  .header__social-contact {
    background-color: $primary;

    .container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: .5rem 0;

      @include breakpoint-down(medium) {
        padding: .5rem 1rem;
      }

      p {
        color: $white;
        margin: 0;
        font-size: .9rem;
        margin-right: .50rem;
      }

      ul {
        list-style: none;
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0;

        li {
          margin-left: .4rem;

          @include breakpoint-up(medium) {
            &:first-child {
              margin-left: 0rem;
            }
          }

          > a {
            background-color: $white;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

          }
          > svg {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    &-brand {
      color: $dark !important;
    }
    &-nav {
      @include breakpoint-up(medium) {
        position: relative;
        right: -1.25rem;
      }
    }
    .nav-item {
      position: relative;
      @include breakpoint-down(medium) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        text-align: center;

        &:last-child {
          border-bottom: none;
        }
      }

      .nav-link {
        @include breakpoint-up(medium) {
          &:hover {
            color: $primary;
          }
        }
        font-weight: 500;
        color: $dark;
        font-size: .95rem;
      }

      &:last-child {
        @include breakpoint-up(large) {
          .nav-link {
            color: $primary;
            margin-left: .9rem;
          }
          &::before {
            content: '';
            height: 22px;
            width: 1px;
            background-color: $light;
            display: block;
            position: absolute;
            top: .6rem;
            left: .3rem;
          }
        }
      }
    }
  }
}